/* Habits */
.Habits {
	max-width: 680px;
}

.Habits-Create {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Habits-Create-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
}

.Habits-Create-form > form > input,
.Habits-Create-form > form > div {
	margin: 8px 0 12px 0;
}

.Habits-list {
	background: var(--main-white);
	margin-top: 10px;
	border-radius: 20px;
	padding: 10px 24px;
}

.Habits-list-icons {
	font-size: 16px;
	cursor: pointer;
	margin: 4px 0;
	padding: 6px;
	border-radius: 4px;
	background: var(--secondary-white);
	box-shadow: var(--box-shadow-inner);
}

.Habits-list > div > h1 {
	font-size: 60px;
	color: var(--main-blue);
	margin: 0;
}

.Habits-list > div > h1,
.Habits-list > div > strong {
	margin-right: 20px;
}
