.Tags {
	max-width: 680px;
}

.Tags-Edit {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Tags-Edit-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
	min-width: 320px;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > div,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > select {
	margin: 8px 0 12px 0;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > div {
	min-width: 320px;
}

.Tags-Tag {
	background: var(--main-white);
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	color: var(--main-grey);
}

.Tags-Tag-tag {
	padding: 4px 6px;
	background: var(--secondary-white);
	font-size: 14px;
	margin: 2px;
	border-radius: 2px;
}
