.Tags {
	max-width: 680px;
}

.Tags-Edit {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Tags-Edit-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
	min-width: 320px;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > div,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > select {
	margin: 8px 0 12px 0;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > div {
	min-width: 320px;
}

.Tags-Tag {
	background: var(--main-white);
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	color: var(--main-grey);
}

.Tags-Tag-tag {
	padding: 4px 6px;
	background: var(--secondary-white);
	font-size: 14px;
	margin: 2px;
	border-radius: 2px;
}

/* 

.Tags-create {
	background: var(--main-white);
	padding: 20px 30px 30px 30px;
	border-radius: 20px;
	max-width: 400px;
}

.Tags-create > form {
	display: flex;
	flex-direction: column;
}

.Tags-create > form > label {
	margin: 16px 0 8px 0;
}

.Tags-create > form > span {
	margin-top: 16px;
	text-align: right;
}

.Tags-create > form > span > button {
	margin-left: 12px;
}

.Tags-edit {
	background: var(--main-white);
	padding: 20px 30px 30px 30px;
	border-radius: 20px;
	max-width: 400px;
}

.Tags-edit > form {
	display: flex;
	flex-direction: column;
}

.Tags-edit > form > label {
	margin: 16px 0 8px 0;
}

.Tags-edit-name {
	background: rgba(0, 0, 0, 0);
	padding: 8px 0px;
	font-size: 22px;
	font-weight: bold;
	border: none;
}

.Tags-edit-desc {
	background: rgba(0, 0, 0, 0);
	padding: 8px 0px;
	color: var(--main-grey);
	border: none;
	min-height: 16px;
}

.Tags-edit-date,
.Tags-edit-status {
	background: var(--gradient-sunset);
	padding: 3px 6px;
	color: white;
	margin: 6px 4px 0 0px;
	border-radius: 3px;
	font-size: small;
	font-weight: bold;
	box-shadow: var(--box-shadow);
	max-width: 70px;
	min-height: 17px;
	border: none;
}

.Tags-edit-status {
	max-width: 105px;
}

.Tags-edit > form > span {
	margin-top: 16px;
	text-align: right;
}

.Tags-edit > form > span > button {
	margin-left: 12px;
} */
