/* Global Styles */
/* Variables */
:root {
	--main-blue: #007aff;
	--secondary-blue: #6594d7;
	--main-red: #ec1416;
	--secondary-red: #b0172b;
	--main-green: #58d188;
	--main-black: #080a0a;
	--secondary-black: #280c34;
	--main-grey: #36456b;
	--secondary-grey: #c3c7d3;
	--main-white: #fbfbfd;
	--secondary-white: #f0f0f2;
	--gradient-white: linear-gradient(135deg, #f0f0f2 0%, #e7e7e7 100%);
	--gradient-blue: linear-gradient(309deg, #0011ff 0%, #1481ff 100%);
	--gradient-sunset: linear-gradient(339deg, #ec1416b3 0%, #003cffb3 100%);
	--gradient-blue-lin: linear-gradient(180deg, #1481ff 0%, #0011ff 100%);
	--gradient-red-lin: linear-gradient(180deg, #ec1416 0%, #b0172b 100%);
	--gradient-green-lin: linear-gradient(180deg, #58d188 0%, #359d5e 100%);
	--gradient-grey-lin: linear-gradient(180deg, #36456b 0%, #1a243c 100%);
	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.red {
	color: #ec1416;
}
.green {
	color: #58d188;
}
.blue {
	color: #007aff;
}
.grey {
	color: #36456b;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.no-button {
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border: none;
	box-shadow: none;
}

html,
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--secondary-white);
}

input {
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid var(--secondary-grey);
}

input:focus {
	border-radius: 10px;
	border: 1.5px solid var(--main-blue);
	background-color: white;
	outline: none;
}

textarea {
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid var(--secondary-grey);
	min-height: 60px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
}

textarea:focus {
	border-radius: 10px;
	border: 1.5px solid var(--main-blue);
	background-color: white;
	outline: none;
}

button {
	cursor: pointer;
	background: var(--main-white);
	border: none;
	padding: 6px 16px;
	border-radius: 5px;
	color: var(--main-black);
	box-shadow: var(--box-shadow);
	font-size: 14px;
}

.blue-btn {
	background: var(--main-blue);
	color: white;
}

.red-btn {
	background: var(--main-red);
	color: white;
}

a {
	color: var(--main-blue);
}

/* Pages */
/* Home */
.Main {
	margin-left: 300px;
	padding: 25px 75px 25px 25px;
	max-width: 1300px;
}

/* Landing */
.Landing {
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/landing.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.Landing-ribbon-wrap {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
}

.Landing-ribbon-text {
	color: white;
	background: var(--gradient-blue);
	box-shadow: var(--box-shadow-lg);
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
}

.Landing-box {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 300px;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--main-white);
	padding: 30px 30px 50px 30px;
	border-radius: 30px;
	background: var(--gradient-sunset);
	backdrop-filter: blur(5px);
	margin-left: 5vw;
}

.Landing-brand {
	display: flex;
	align-items: center;
}

.Landing-brand > img {
	width: 30px;
	height: 30px;
	margin-right: 7px;
}

.Landing-brand > h1 {
	margin: 0;
	font-weight: 900;
}

/* Components */
/* Dashboard */
.Dashboard {
	display: flex;
	justify-content: space-between;
	margin-top: 3vh;
}

.Dashboard-tasks {
	width: 480px;
	background: var(--main-white);
	padding: 5px 40px 40px 40px;
	border-radius: 30px;
	margin: 0;
}

.Dashboard-tasks-map > h2 {
	margin: 40px 0 10px;
}

.Dashboard-tasks-map-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid var(--secondary-grey);
}

.Dashboard-tasks-map-group > div {
	display: flex;
}

.Dashboard-tasks-map-group > div > span {
	background: var(--gradient-white);
	padding: 3px 6px;
	color: var(--main-grey);
	margin: 0 6px 0 0px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	box-shadow: var(--box-shadow);
}

.Dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Dashboard-habits {
	display: flex;
	width: 540px;
}

.Dashboard-habits > div {
	flex: 0 0 150px;
	height: 150px;
	text-align: center;
	border-radius: 100%;
	background: var(--gradient-blue);
	margin-right: 30px;
	box-shadow: var(--box-shadow);
}

.Dashboard-habits > div > h2 {
	color: white;
	margin: 25px 0 0 0;
	padding: 0;
	top: 50%;
	font-size: 60px;
}

.Dashboard-habits > div > h3 {
	color: white;
	margin: 0 0 0 0;
	padding: 0;
	font-size: smaller;
}

.Dashboard-timelog {
	background: var(--main-white);
	padding: 30px;
	border-radius: 30px;
	width: 400px;
}

.Dashboard-timelog > table {
	border-collapse: collapse;
	border-radius: 15px;
}

.Dashboard-timelog > table > thead > tr {
	height: 40px;
	text-align: left;
}

.Dashboard-timelog > table > tbody > tr > td {
	padding: 8px;
}

.Dashboard-timelog > table > thead > tr > th {
	padding: 6px;
	font-weight: strong;
	font-style: italic;
	border-bottom: 3px solid var(--main-blue);
}

.Dashboard-timelog-time {
	text-align: center;
	box-shadow: var(--box-shadow-inner);
	font-weight: bold;
	border-radius: 4px;
}

@media screen and (max-width: 500px) {
	.Dashboard-tasks-map-group > div {
		flex-direction: column;
	}
	.Dashboard-tasks-map-group > div > span {
		margin: 2px 0 0 2px;
	}
	.Dashboard {
		flex-direction: column;
	}
	.Dashboard-tasks {
		width: auto;
	}
}

/* Habits */
/* Habits */
.Habits {
	max-width: 680px;
}

.Habits-Create {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Habits-Create-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
}

.Habits-Create-form > form > input,
.Habits-Create-form > form > div {
	margin: 8px 0 12px 0;
}

.Habits-list {
	background: var(--main-white);
	margin-top: 10px;
	border-radius: 20px;
	padding: 10px 24px;
}

.Habits-list-icons {
	font-size: 16px;
	cursor: pointer;
	margin: 4px 0;
	padding: 6px;
	border-radius: 4px;
	background: var(--secondary-white);
	box-shadow: var(--box-shadow-inner);
}

.Habits-list > div > h1 {
	font-size: 60px;
	color: var(--main-blue);
	margin: 0;
}

.Habits-list > div > h1,
.Habits-list > div > strong {
	margin-right: 20px;
}

/* Tags */
.Tags {
	max-width: 680px;
}

.Tags-Edit {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Tags-Edit-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
	min-width: 320px;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > div,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > select {
	margin: 8px 0 12px 0;
}

.Tags-Edit-form > form > input,
.Tags-Edit-form > form > textarea,
.Tags-Edit-form > form > div {
	min-width: 320px;
}

.Tags-Tag {
	background: var(--main-white);
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	color: var(--main-grey);
}

.Tags-Tag-tag {
	padding: 4px 6px;
	background: var(--secondary-white);
	font-size: 14px;
	margin: 2px;
	border-radius: 2px;
}

/* Tasks */
.Tasks-Edit {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Tasks-Edit-form {
	background: var(--main-white);
	padding: 3vw;
	border-radius: 20px;
	box-shadow: var(--box-shadow-lg);
}

.Tasks-Edit-date,
.Tasks-Edit-status {
	background: var(--gradient-blue);
	padding: 3px 6px;
	color: white;
	margin-right: 4px;
	border-radius: 3px;
	font-size: small;
	font-weight: bold;
	min-height: 17px;
	max-width: 120px;
	box-shadow: var(--box-shadow);
	border: none;
}

.Tasks-Edit-date {
	max-width: 70px;
}

.Tasks-Edit-form > form > input,
.Tasks-Edit-form > form > div,
.Tasks-Edit-form > form > div > div,
.Tasks-Edit-form > form > textarea,
.Tasks-Edit-form > form > select {
	margin: 8px 0 12px 0;
}

.Tasks-Edit-form > form > input,
.Tasks-Edit-form > form > textarea,
.Tasks-Edit-form > form > div {
	min-width: 320px;
}

.Tasks-Kanban {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

.Tasks-Kanban-col {
	margin: 0;
	background: var(--main-white);
	border-radius: 20px;
	padding: 1px 20px 20px 20px;
}

.Tasks-Kanban-list {
	height: 80%;
	width: 14vw;
}

.Tasks-Kanban-col:nth-of-type(4) {
	margin-right: 0;
}

.Tasks-Kanban-edit-btn {
	background: var(--secondary-white);
	color: var(--main-grey);
	box-shadow: var(--box-shadow-inner);
	padding: 6px;
	margin-left: 10px;
	border-radius: 8px;
	cursor: pointer;
}

.Tasks-Kanban-tag-wrap {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	color: var(--main-grey);
}

.Tasks-Kanban-tag {
	padding: 2px 4px;
	background: var(--secondary-white);
	box-shadow: var(--box-shadow-inner);
	font-size: 10px;
	margin: 8px 5px 0px 0px;
	border-radius: 2px;
}

/* Auth */
.Auth-form {
	display: flex;
	flex-direction: column;
}

.Auth-form-btn {
	margin-left: 5px;
	background-color: var(--main-blue);
	color: white;
}

.Auth-form-link {
	text-decoration: underline;
	cursor: pointer;
}

.Auth-form > label {
	padding: 8px 0 5px 0;
}

.Auth-form > input {
	border: 1px solid white;
}

.Auth-form > input:focus {
	border: 1.5px solid var(--main-blue);
}

.Auth-form > div {
	text-align: right;
	padding-top: 12px;
}

.Auth-form > p {
	margin-bottom: 0;
}

/* Tasks */
.Tasks-edit-timelog {
	margin-top: 18px;
}

.Tasks-edit-timelog > div > input {
	margin-top: 8px;
}

/* Menu */
.Menu {
	margin: 0;
	padding: 10px 25px;
	width: 200px;
	position: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-white);
}

.Menu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.Menu-brand {
	display: flex;
	align-items: center;
}

.Menu-brand > img {
	max-width: 25px;
	margin-right: 5px;
}

.Menu-brand > h1 {
	font-size: 20px;
	font-weight: 900;
	padding-right: 10px;
}

.Menu-item {
	padding: 10px 100px 10px 16px;
	display: flex;
	justify-content: left;
}

.Menu-item-active {
	padding: 10px 100px 10px 16px;
	display: flex;
	border-radius: 8px;
	background: var(--gradient-white);
}

.Menu-item > span,
.Menu-item-active > span {
	padding: 1px 4px 0px 0px;
	color: var(--main-blue);
}

/* Settings */
.Settings > a {
	margin-left: 10px;
}

.Settings-forms {
	display: flex;
}

.Settings-password,
.Settings-details {
	margin: 40px 40px 40px 0;
	padding: 30px 40px;
	border-radius: 30px;
	background: var(--main-white);
	flex: 0 0 300px;
}

.Settings-password > h2,
.Settings-details > h2 {
	margin: 5px 0;
}

.Settings-password > form,
.Settings-details > form {
	display: flex;
	flex-direction: column;
	max-width: 280px;
}

.Settings-password > form > label,
.Settings-details > form > label {
	padding: 12px 0 8px 0;
}

.Settings-password > form > button,
.Settings-details > form > button {
	margin-top: 12px;
	max-width: 80px;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
	.Tasks-Kanban {
		flex-direction: column;
	}
	.Tasks-Kanban-col {
		margin-bottom: 20px;
	}
	.Tasks-Kanban-list {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.Menu {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: row;
	}
	.Main {
		margin-left: 0;
		padding: 25px;
	}
	.Settings-forms {
		flex-direction: column;
	}
	.Settings-password,
	.Settings-details {
		margin-right: 0;
	}
}

@media screen and (max-width: 400px) {
	.Landing-box {
		margin-left: 0;
	}
}
