/* Global Styles */
/* Variables */
:root {
	--main-blue: #007aff;
	--secondary-blue: #6594d7;
	--main-red: #ec1416;
	--secondary-red: #b0172b;
	--main-green: #58d188;
	--main-black: #080a0a;
	--secondary-black: #280c34;
	--main-grey: #36456b;
	--secondary-grey: #c3c7d3;
	--main-white: #fbfbfd;
	--secondary-white: #f0f0f2;
	--gradient-white: linear-gradient(135deg, #f0f0f2 0%, #e7e7e7 100%);
	--gradient-blue: linear-gradient(309deg, #0011ff 0%, #1481ff 100%);
	--gradient-sunset: linear-gradient(339deg, #ec1416b3 0%, #003cffb3 100%);
	--gradient-blue-lin: linear-gradient(180deg, #1481ff 0%, #0011ff 100%);
	--gradient-red-lin: linear-gradient(180deg, #ec1416 0%, #b0172b 100%);
	--gradient-green-lin: linear-gradient(180deg, #58d188 0%, #359d5e 100%);
	--gradient-grey-lin: linear-gradient(180deg, #36456b 0%, #1a243c 100%);
	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.red {
	color: #ec1416;
}
.green {
	color: #58d188;
}
.blue {
	color: #007aff;
}
.grey {
	color: #36456b;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.no-button {
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border: none;
	box-shadow: none;
}

html,
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--secondary-white);
}

input {
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid var(--secondary-grey);
}

input:focus {
	border-radius: 10px;
	border: 1.5px solid var(--main-blue);
	background-color: white;
	outline: none;
}

textarea {
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid var(--secondary-grey);
	min-height: 60px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
}

textarea:focus {
	border-radius: 10px;
	border: 1.5px solid var(--main-blue);
	background-color: white;
	outline: none;
}

button {
	cursor: pointer;
	background: var(--main-white);
	border: none;
	padding: 6px 16px;
	border-radius: 5px;
	color: var(--main-black);
	box-shadow: var(--box-shadow);
	font-size: 14px;
}

.blue-btn {
	background: var(--main-blue);
	color: white;
}

.red-btn {
	background: var(--main-red);
	color: white;
}

a {
	color: var(--main-blue);
}

/* Pages */
/* Home */
.Main {
	margin-left: 300px;
	padding: 25px 75px 25px 25px;
	max-width: 1300px;
}

/* Landing */
.Landing {
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/landing.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.Landing-box {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 300px;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--main-white);
	padding: 30px 30px 50px 30px;
	border-radius: 30px;
	background: var(--gradient-sunset);
	backdrop-filter: blur(5px);
	margin-left: 5vw;
}

.Landing-brand {
	display: flex;
	align-items: center;
}

.Landing-brand > img {
	width: 30px;
	height: 30px;
	margin-right: 7px;
}

.Landing-brand > h1 {
	margin: 0;
	font-weight: 900;
}

/* Components */
/* Auth */
.Auth-form {
	display: flex;
	flex-direction: column;
}

.Auth-form-btn {
	margin-left: 5px;
	background-color: var(--main-blue);
	color: white;
}

.Auth-form-link {
	text-decoration: underline;
	cursor: pointer;
}

.Auth-form > label {
	padding: 8px 0 5px 0;
}

.Auth-form > input {
	border: 1px solid white;
}

.Auth-form > input:focus {
	border: 1.5px solid var(--main-blue);
}

.Auth-form > div {
	text-align: right;
	padding-top: 12px;
}

.Auth-form > p {
	margin-bottom: 0;
}

/* Tasks */
.Tasks-edit-timelog {
	margin-top: 18px;
}

.Tasks-edit-timelog > div > input {
	margin-top: 8px;
}

/* Menu */
.Menu {
	margin: 0;
	padding: 10px 25px;
	width: 200px;
	position: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-white);
}

.Menu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.Menu-brand {
	display: flex;
	align-items: center;
}

.Menu-brand > img {
	max-width: 25px;
	margin-right: 5px;
}

.Menu-brand > h1 {
	font-size: 20px;
	font-weight: 900;
	padding-right: 10px;
}

.Menu-item {
	padding: 10px 100px 10px 16px;
	display: flex;
	justify-content: left;
}

.Menu-item-active {
	padding: 10px 100px 10px 16px;
	display: flex;
	border-radius: 8px;
	background: var(--gradient-white);
}

.Menu-item > span,
.Menu-item-active > span {
	padding: 1px 4px 0px 0px;
	color: var(--main-blue);
}

/* Settings */
.Settings > a {
	margin-left: 10px;
}

.Settings-forms {
	display: flex;
}

.Settings-password,
.Settings-details {
	margin: 40px 40px 40px 0;
	padding: 30px 40px;
	border-radius: 30px;
	background: var(--main-white);
	flex: 0 0 300px;
}

.Settings-password > h2,
.Settings-details > h2 {
	margin: 5px 0;
}

.Settings-password > form,
.Settings-details > form {
	display: flex;
	flex-direction: column;
	max-width: 280px;
}

.Settings-password > form > label,
.Settings-details > form > label {
	padding: 12px 0 8px 0;
}

.Settings-password > form > button,
.Settings-details > form > button {
	margin-top: 12px;
	max-width: 80px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
	.Menu {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: row;
	}
	.Main {
		margin-left: 0;
		padding: 25px;
	}
	.Settings-forms {
		flex-direction: column;
	}
	.Settings-password,
	.Settings-details {
		margin-right: 0;
	}
}

@media screen and (max-width: 400px) {
	.Landing-box {
		margin-left: 0;
	}
}
