/* Global Styles */
/* Variables */
:root {
	--main-blue: #007aff;
	--secondary-blue: #6594d7;
	--gradient-blue: linear-gradient(309deg, #0011ff 0%, rgb(20, 129, 255) 100%);
	--main-red: #ec1416;
	--secondary-red: #b0172b;
	--main-green: #58d188;
	--main-black: #080a0a;
	--secondary-black: #280c34;
	--main-grey: #36456b;
	--secondary-grey: #c3c7d3;
	--main-white: #fbfbfd;
	--secondary-white: #f0f0f2;
	--gradient-white: linear-gradient(
		135deg,
		rgba(240, 240, 242, 1) 0%,
		rgba(231, 231, 231, 1) 100%
	);
	--gradient-sunset: linear-gradient(
		339deg,
		rgba(236, 20, 22, 0.7) 0%,
		rgba(0, 60, 255, 0.7) 100%
	);
	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.red {
	color: #ec1416;
}
.green {
	color: #58d188;
}
.blue {
	color: #007aff;
}

html,
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

input {
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid var(--secondary-grey);
}

input:focus {
	border-radius: 10px;
	border: 1.5px solid var(--main-blue);
	background-color: white;
	outline: none;
}

button {
	cursor: pointer;
	background: var(--main-white);
	border: none;
	padding: 6px 16px;
	border-radius: 5px;
	color: var(--main-black);
	box-shadow: var(--box-shadow);
	font-size: 14px;
}

.blue-btn {
	background: var(--main-blue);
	color: white;
}

a {
	color: var(--main-blue);
}

/* Pages */
/* Home */
.Main {
	margin-left: 300px;
	padding: 25px 75px 25px 25px;
	max-width: 1300px;
}

/* Landing */
.Landing {
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/landing.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.Landing-box {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 300px;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--main-white);
	padding: 30px 30px 50px 30px;
	border-radius: 30px;
	background: var(--gradient-sunset);
	backdrop-filter: blur(5px);
	margin-left: 5vw;
}

.Landing-brand {
	display: flex;
	align-items: center;
}

.Landing-brand > img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.Landing-brand > h1 {
	margin: 0;
	font-weight: 900;
}

/* Components */
/* Auth */
.Auth-form {
	display: flex;
	flex-direction: column;
}

.Auth-form-btn {
	margin-left: 5px;
	background-color: var(--main-blue);
	color: white;
}

.Auth-form-link {
	text-decoration: underline;
	cursor: pointer;
}

.Auth-form > label {
	padding: 8px 0 5px 0;
}

.Auth-form > input {
	border: 1px solid white;
}

.Auth-form > input:focus {
	border: 1.5px solid var(--main-blue);
}

.Auth-form > div {
	text-align: right;
	padding-top: 12px;
}

.Auth-form > p {
	margin-bottom: 0;
}

/* Dashboard */
.Dashboard > div {
	display: flex;
	margin-top: 60px;
}

.Dashboard-tasks {
	display: flex;
	overflow-y: scroll;
	border-radius: 40px;
}

.Dashboard-tasks-map {
	flex: 0 0 320px;
	padding: 30px;
	margin-right: 30px;
	border-radius: 40px;
	background: linear-gradient(
		339deg,
		rgba(246, 248, 253, 1) 0%,
		rgba(251, 251, 253, 1) 100%
	);
}

.Dashboard-tasks-map > h2 {
	margin-top: 0;
}

.Dashboard-tasks-map-group {
	box-shadow: var(--box-shadow);
	background-color: var(--main-white);
	padding: 10px 14px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.Dashboard-tasks-map-group > div {
	display: flex;
}

.Dashboard-tasks-map-group > div > div {
	background: var(--gradient-sunset);
	padding: 3px 6px;
	color: white;
	margin: 6px 4px 0 0px;
	border-radius: 3px;
	font-size: small;
	font-weight: bold;
	box-shadow: var(--box-shadow);
}

.Dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Dashboard-habits {
	display: flex;
	overflow-y: scroll;
}

.Dashboard-habits > div {
	flex: 0 0 150px;
	height: 150px;
	text-align: center;
	border-radius: 100%;
	background: var(--gradient-blue);
	margin-right: 30px;
	box-shadow: var(--box-shadow);
}

.Dashboard-habits > div > h2 {
	color: white;
	margin: 25px 0 0 0;
	padding: 0;
	top: 50%;
	font-size: 60px;
}

.Dashboard-habits > div > h3 {
	color: white;
	margin: 0 0 0 0;
	padding: 0;
	font-size: smaller;
}

.Dashboard-timelog {
	overflow-y: scroll;
}

.Dashboard-timelog > table {
	border-collapse: collapse;
	background: var(--secondary-white);
	border-radius: 15px;
}

.Dashboard-timelog > table > thead > tr {
	height: 40px;
	text-align: left;
}

.Dashboard-timelog > table > tbody > tr > td {
	padding: 10px;
}

.Dashboard-timelog > table > thead > tr > th {
	padding: 10px;
	font-weight: lighter;
	border-bottom: 3px solid var(--main-blue);
}

.Dashboard-timelog-time {
	background: var(--main-blue);
	color: white;
	border-radius: 100%;
	text-align: center;
}

/* Menu */
.Menu {
	margin: 0;
	padding: 10px 25px;
	width: 200px;
	position: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-white);
}

.Menu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Menu-brand {
	display: flex;
	align-items: center;
}

.Menu-brand > img {
	width: 30px;
	height: 27px;
}

.Menu-brand > h1 {
	font-size: 20px;
	font-weight: 900;
}

.Menu-item {
	padding: 10px 100px 10px 16px;
	display: flex;
	justify-content: left;
}

.Menu-item-active {
	padding: 10px 100px 10px 16px;
	display: flex;
	border-radius: 8px;
	background: var(--gradient-white);
}

.Menu-item > span,
.Menu-item-active > span {
	padding: 1px 4px 0px 0px;
	color: var(--main-blue);
}

/* Settings */
.Settings > a {
	margin-left: 10px;
}

.Settings-password,
.Settings-details {
	margin: 40px 0;
	padding: 30px 40px;
	border-radius: 30px;
	background: var(--main-white);
	max-width: 300px;
}

.Settings-password > h2,
.Settings-details > h2 {
	margin: 5px 0;
}

.Settings-password > form,
.Settings-details > form {
	display: flex;
	flex-direction: column;
	max-width: 280px;
}

.Settings-password > form > label,
.Settings-details > form > label {
	padding: 12px 0 8px 0;
}

.Settings-password > form > button,
.Settings-details > form > button {
	margin-top: 12px;
	max-width: 80px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
	.Menu {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: row;
	}
	.Main {
		margin-left: 0;
		padding: 25px;
	}
}

@media screen and (max-width: 400px) {
	.Landing-box {
		margin-left: 0;
	}
}
